.socialNetwork{
    display: flex;    
    flex-direction: column;
    position: fixed;
    z-index: 999;
    margin-left: 23px;
    top:400px;
    
}

.socialNetwork-container{
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 30px;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 11px;
    justify-content: center;
    align-items: center;
   
    
}

