.descripIns-container{
    height: auto;
    width: 100vw;
    background-color: #dd1a1e;
    display: flex;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;

}


.dedescripIns-left{
    flex: 0.5 1;
    flex-direction: column;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
}

.divider {
  border-color: rgb(241 236 236 / 94%) !important;
  margin-bottom: 40px !important;
  margin-top: 40px !important;
}

.dedescripIns-rigth{
    flex: 0.35 1;
    display: flex;
    padding-left: 60px;
  
}

.description-textTop, .description-textBottom{
    width: 500px;
}

.description-textTop-title,
.description-textBottom-title {
  text-transform: uppercase;
  font-weight: 600 !important;
  margin-bottom: 50px !important;
}

.description-textBottom-text, .description-textTop-text{
    width: 425px;
}

.imgDescription-container{
    height: 480px;
    width: 380px;
    display: flex;
    
}

.imgDescription{
    height: 480px;
    width: 380px;
    object-fit: cover;
}
