.catalogo-container {
  display: flex;
  width: 100vw;
  height: auto !important;
  flex-direction: column;
}

.catalogo-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 155px 120px 100px 0;
}

.section-title {
  font-weight: 700 !important;
  text-transform: uppercase;
}

.catalogo-body {
  padding: 0px 100px 0 150px;
  display: flex;
}

.catalogo-media {
  display: flex;
  flex-wrap: wrap;
}

.catalogo-text {
  display: flex;
}

.catalogo-textBody {
  width: 400px;
  padding-right: 50px;
}


@media (max-width:1000px) {
  .catalogo-body {
    padding: 0px 100px 0 150px;
    display: flex;
    flex-direction: column-reverse;
}

.catalogo-textBody{
  margin-bottom: 80px !important;
}

.catalogo-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
}

@media (max-width:660px) {
  .catalogo-title {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 140px  0 140px 0 !important;
    justify-content: center;
   
}

.section-title{
  width: 330px;
}

.catalogo-body {
  padding: 0px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.catalogo-text {
  display: flex;
  justify-content: center;
  width: 300px;
}

.catalogo-textBody {
  width: 400px;
  padding-right: 0px;
}
}