.catalogo-container {
  display: flex;
  width: 100vw;
  height: auto !important;
  flex-direction: column;
}

.catalogo-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 155px 120px 100px 0;
}

.section-title {
  font-weight: 700 !important;
  text-transform: uppercase;
}

.catalogo-body {
  padding: 0px 100px 0 150px;
  display: flex;
}

.catalogo-media {
  display: flex;
  flex-wrap: wrap;
}

.catalogo-text {
  display: flex;
}

.catalogo-textBody {
  width: 400px;
  padding-right: 50px;
}
