.masonry-container{
    margin-left: auto;
    margin-right: auto;
    height: auto;
   /*  margin-bottom: 100px; */
}

.masonry-iconbutton {
  padding: 0px !important;
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  color: #0c2372 !important;
  background: #fff !important;
}

.masonry-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.masonry-icon:hover {
  color: #0c2372;
  /* background: #fff; */
  border-radius: 50%;
}

::-webkit-scrollbar {
    display: none;
}