.aboutUs-container {
  display: flex;
  flex-direction: column;
}

.aboutus-imgs-container {
  display: flex;
  flex-wrap: wrap;
}

.aboutus-imgs-container .aboutus-img1 {
  width: 900px;
  height: 685px;
  object-fit: cover;
  object-position: center center;
}

.section2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* padding: 100px 160px 85px 160px; */
  justify-content: center;
  padding-left: 80px;
}

.section2 h6 {
  width: 90%;
}

.aboutus-img2 {
  width: 900px;
  height: 685px;
  object-fit: cover;
  object-position: center center;
}

.aboutus-art-container {
  display: flex;
  flex: 0.4;
}

.aboutus-art-text1 {
  margin-left: 20px;
  width: 90%;
  margin-bottom: 30px !important;
  font-weight: 700 !important;
}

.aboutus-art-text {
  /*  text-align: justify; */
  margin-bottom: 40px !important;
  width: 70%;
}

/* .aboutus-art-text:first-child{
    margin-top: 170px !important;
} */

.aboutus-art-button {
  color: #fff !important;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.aboutus-art-button:hover {
  text-decoration: underline;
}

.section3 {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section4 {
  display: flex;
  flex: 0.5;
  height: 550px;
}
