.navbar {
  height: 115px;
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.nav-painted {
  background-color: #cd1626;
  transition: background-color 80ms ease;
  transition: height 200ms ease;
  height: 60px !important;
}
.nav-painted:hover {
  color: rgb(17, 0, 255) !important;
}

.navbar-left {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar-left-log {
  margin-right: 10px;
  height: 45px;
}

.navbar-center {
  display: flex;
  width: 100%;
  align-items: center;
}

.navbar-center-link {
  display: flex;
  text-transform: uppercase;
  margin: 20px;
}

.navbar-center-link-text {
  color: #fff;
  font-weight: bold;
  font-size: 1rem !important;
  text-decoration: none;
}

.navbar .active-link {
  color: red;
  text-decoration: underline !important;
}

.navbar-center-link-text:hover {
  color: red;
  text-decoration: underline;
}

.navbar-rigth {
  display: flex;
  align-items: center;
}

.navbar-rigth-search {
  display: flex;
  height: 51px;
  margin-right: 20px;
  background: transparent;
  border-radius: 10px;
  align-items: center;
}

/* .navbar-rigth-search input {
  background: transparent;
  border: none;
  width: 230px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
} */

.navbar-button-right {
  background-color: #e3474b !important;
}

.navbar-button-right:hover {
  background-color: #dd1a1e !important;
}
.navbar-rigth-search input:focus {
  background: cornflowerblue;
  border: 1px solid darkgrey;
  outline: 0;
  border-radius: 20px;
  transition: background, border 0.2s;
}
