.disruptor-container {
  width: 100vw;
  height: auto;
  background-color: #dd1a1e;
  
  
}

.disruptor-head {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 11%;
  padding-top: 100px;
  margin-bottom: 50px;
}




.disruptor-head-title{
    font-weight: 700 !important;
    text-transform: uppercase;
    margin-bottom: 50px !important;
    display: flex;
  
}

.disruptor-head p{
    margin-top: 50px;    
}

.disruptor-head-text{
  width: 350px; 
}
.disruptor-articles{
  display: flex;
  align-content: center; 
  height: auto;
    

}

@media (max-width: 600px) {
  .disruptor-head {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 0px;
    padding-top: 100px;
    margin-bottom: 50px;
    align-items: center;
  }
}


@media (max-width: 380px) {
  .disruptor-head{
    width: 100%;
    padding-top: 80px;
  }

  .disruptor-head-text{
    width: 250px !important;
  }

 /*  .disruptor-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 */
  disruptor-head p {
    margin-top: 0px;
    
}

.disruptor-head-text {
  width: 330px;
}
}