.disruptor-container {
  width: 100vw;
  height: 1600px;
  background-color: #dd1a1e;
  
}

.disruptor-head {
  display: flex;
  flex-direction: column;
  margin-left: 1300px;
  padding-right: 200px;
  padding-top: 100px;
  margin-bottom: 100px;
}

.disruptor-head-title{
    font-weight: 700 !important;
    text-transform: uppercase;
    margin-bottom: 80px !important;
}

.disruptor-head p{
    margin-top: 50px;
}

.disruptor-head-text{
  width: 500px;
}
.disruptor-articles{
  margin-bottom: 300px;
}