.banner {
  position: relative;
}

.section-container {
  display: flex;
  height: 1080px;
}

.banner-section {
  display: flex;
  flex-wrap: wrap;
  margin: 200px;
}

.banner-section-contenido1 {
  display: flex;
  flex-direction: row;
  width: 500px;
}

.banner-section-contenido2 {
  margin-top: 190px;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 400px;
}
