.banner{
   position: relative; 
  
}

.section-container{
   display: flex;
}

.banner-section-left{
   display: flex;
    flex-direction: column;
    flex: 0.1 1;   
    margin-top: 456px;   
    margin-left: 50px;
}

.banner-section-rigth{
   display: flex;
   flex: 0.8 1;  
   flex-wrap: wrap;
   padding-top: 144px;
}

.banner-section-rigth-contenido1{
   display: flex;
    flex: 0.5;
    flex-direction: row;
}

.banner-section-rigth-contenido2{
   display: flex;
    flex: 0.5 1;
    flex-direction: row;
    /* margin-bottom: 50px; */
    align-content: center;
    align-items: center;
}