.staffs-title-container {
  margin-top: 50px;
}

.staffs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.staffs-container hr {
  border-color: #fff;
  width: 80%;
}

.staffs-title {
  font-weight: 700 !important;
}

.staffs-logos {
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
  margin-top: 30px;
  justify-content: center;
}
