.carruselItem-container {
  width: 25vw;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  
}

.carruselItem-top {
  flex: 0.5 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.carruselItem-bottom {
  flex: 0.5 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.carruselItem-img {
  object-fit: cover;
  width: 100%;
  height: 376px;
  border-radius: 20px;
}

.carruselItem-title {
  position: absolute;
  text-transform: uppercase;
  margin-bottom: -7px;
  padding: 33px;
  text-align: center;
  z-index: 999;
}

.img-degradado {
  height: 250px;
  background-image: linear-gradient(360deg, #dd1a1ed9, transparent);
  position: absolute;
  width: 25vw;
  border-radius: 0 0 20px 20px;
  transition: background-image 200ms ease;
}

.carruselItem-text {
  padding: 30px;
  text-align: center;
}


.buttom-container{
  position: relative;
    bottom: 45px;
    right: 43px;
}