.carruselItem-container {
  width: 380px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.carruselItem-top {
  flex: 0.5 1;
  width: 380px;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.carruselItem-bottom {
  flex: 0.5 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.carruselItem-img {
  object-fit: cover;
  width: 552px;
  height: 540px;
  border-radius: 20px;
}

.carruselItem-title {
  text-transform: uppercase;
  text-align: center;
  z-index: 999;
  flex: 1;
  width: 100%;
}

.left h5 {
  text-align: left;
}

.right h5 {
  text-align: right;
}

.img-degradado {
  height: 250px;
  background-image: linear-gradient(360deg, #dd1a1ed9, transparent);
  position: absolute;

  width: 380px !important;
  border-radius: 0 0 20px 20px;
  transition: background-image 200ms ease;
}

.carruselItem-text {
  padding: 30px;
  text-align: center;
}

.title-row {
  display: flex;
  position: absolute;
  padding-bottom: 30px;
  width: 350px;
}
