.container{
    height: 252px;
    width: 238px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.staff-container{
    height: 176px;
    width: 180px;   
    border: 3px solid #0c2372;    
    display: flex;
    align-items: center;
    justify-content: center;    
    border-radius: 999px;
}

.img-container{
    height: 176px;
    width: 190px;  
    border-radius: 999px;
}

.text-container{
    width: 240px;
    align-items: center;
}

.text-title{
    font-weight: 800;
}