.container {
  height: auto;
  width: 281px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.staff-container {
  height: 178px;
  width: 176px;
  margin: 10px;
  border: 3px solid #0c2372;
  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
}

.img-container {
  height: 187px;
  width: 196px;
  border-radius: 999px;
}

.text-container {
  flex-direction: column;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.text-title {
  font-weight: 800;
}


@media (max-width: 400px) {
  .text-body{
    text-align: center;
  }
  
}