.imgCard-buttom{
    height: 15px;
    width: 15px;
    color: blue;
    background-color: #fff;
    border-radius: 999px;  
    position: absolute !important;
    display: flex;
    align-items: center;
   /*  margin-bottom: 30px;
    margin-right: 25px; */
    justify-content: center;
}