.imgCard-container {
  width: 240px !important;
  height: 310px !important;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  border-radius: 20px !important;
}

.imgCard-container > img {
  width: 240px !important;
  height: 300px !important;
  object-fit: cover;
  object-position: center;
  border-radius: 20px !important;
}

.customAddbutton-container {
  right: 37px;
  bottom: 41px;
  position: relative;
}
