.imgCard-container{
    height: 400px !important;
    width: 350px !important;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
    
}




.imgCard-buttom{
    height: 40px;   
    color:blue;
    padding: 20px;
    position: absolute !important;
}

.imgCard-container > img{
    object-fit: cover;
    object-position: center;   
    border-radius: 20px !important;
    width: 350px !important;
    height: 400px !important;
    position: absolute !important;
}