.description-container {
  height: auto;
  width: 100%;
  display: flex;
  background-color: #0c2372;
  justify-content: center;
}
.descripton-left {
  display: flex;
  flex-direction: column;

  /* align-content: center; */
  position: relative;
}

.descripton-right {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}

.description-img-container {
  display: flex;
  height: 550px;
  width: 450px;
  position: relative;
  bottom: 400px;
}

.description-img {
  display: flex;
  object-fit: cover;
  width: 100%;
}

.description-title-container {
  width: 60%;
  display: flex;
  position: relative;
  bottom: 382px;
}

.description-title {
  color: #fff !important;
  font-weight: 600 !important ;
  text-transform: capitalize;
}

.itemList {
  color: #fff;
  display: flex !important;
  align-items: baseline !important;
}

.itemList .dot {
  margin-right: 10px;
}

.description-list {
  width: 700px !important;
  margin-left: 50px !important;
  margin-top: 100px !important;
}

.itemText {
  margin-bottom: 20px !important;
  width: 850px;
}
