.description-container {
  height: auto;
  width: 100%;
  display: flex;
  background-color: #0c2372;
}
.descripton-left {
  display: flex;
  flex: 0.6 1;
  flex-direction: column;
  
  /* align-content: center; */
  position: relative;
}

.descripton-rigth {
  display: flex;
  flex: 0.4 1;
  align-items: center;
 
  padding-bottom: 100px;
}

.description-img-container {
  display: flex;
    height: 550px;
    width: 450px;
    position: relative;
    bottom: 400px;
    left: 135px;
}

.description-img {
  display: flex;
  object-fit: cover;
  width: 100%;
}

.description-title-container {
  width: 60%;
  display: flex;
  position: relative;
  bottom: 382px;
  left: 131px;
}

.description-title {
  color: #fff !important;
  font-weight: 600 !important ;
  text-transform: capitalize;
}

.itemList {
  color: #fff;
}

.description-list {
  width: 700px !important;
  margin-left: 50px !important;
  margin-top: 100px !important;
}


.itemText{
  margin-bottom: 20px !important;
  width: 850px;
}