.description-container {
  height: auto;
  width: 100%;
  display: flex;
  background-color: #0c2372;
  justify-content: center;
}

.descripton-left {
  display: flex;
  flex-direction: column;

  position: relative;
}

.descripton-right {
  padding-bottom: 100px;
}

.description-img-container {
  display: flex;
  height: 550px;
  width: 450px;
  position: relative;
  bottom: 400px;
}

.description-img {
  display: flex;
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}

.description-title-container {
  width: 450px;
  display: flex;
  position: relative;
  bottom: 382px;
  margin-top: 70px;
}

.description-title {
  color: #fff !important;
  font-weight: 600 !important ;
  /* text-transform: capitalize; */
}

.itemList {
  color: #fff;
  display: flex !important;
  align-items: baseline !important;
}

.itemList .dot {
  margin-right: 10px;
}

.description-list {
  width: 650px !important;
  margin-left: 50px !important;
  margin-top: 100px !important;
}

.itemText {
  margin-bottom: 20px !important;
  width: 850px;
}


@media (max-width:900px) {
  .description-container {    
    justify-content: center;
    flex-direction: column !important;
    align-items: center;
    padding: 80px 0 80px 0;
}

.description-img-container {
  display: flex;
  height: 550px;
  width: 450px;
  position: relative;
  bottom: 0px;
}

.description-title-container { 
  display: flex;
  position: relative;
  bottom: 0px;
  margin-top: 50px;
}

.description-list {
  width: 650px !important;
  margin-left: 50px !important;
  margin-top: 50px !important;
}

.descripton-right {
  padding-bottom: 0px;
}
}


@media (max-width: 660px) {
  .description-list {
    width: 500px !important;
    margin-left: 0px !important;
    margin-top: 50px !important;
}
.descripton-left {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
  
}

@media (max-width:500px) {
  .description-list {
    width: 500px !important;
    margin-left: 0px !important;
    margin-top: 50px !important;
}

.description-img-container {
  display: flex;
  height: 450px;
  width: 350px;
  position: relative;
  bottom: 0px;
}

.description-title {
  text-align: center;
}

.description-list{
  width: 387px !important;
}
  
}


@media (max-width:360px) {
  .description-img-container {
    display: flex;
    height: 450px;
    width: 320px;
    position: relative;
    bottom: 0px;
}

.description-title-container {
  width: 350px;
  display: flex;
  position: relative;
 
}

.description-list{
  width: 357px !important;
}
}