.simpleHeader-container {
  background-color: #0c2372;
  width: 100vw;
  height: 500px;
}

.simpleHeader-text {
  display: flex;
  position: relative;  
  top: 233px;
  text-align: center;
  width: 90%;
}

.text-container {
  display: flex;
  justify-content: center;
}

@media (max-width:800px) {
  .simpleHeader-container {    
    height: 600px !important;
  }
}


@media (max-width:500px) {
  .simpleHeader-text {
    display: flex;
    position: relative;  
    top: 133px;
    text-align: center;
    width: 90%;
  }

  .simpleHeader-container {
    background-color: #0c2372;
    width: 100vw;
    height: 500px;
  }
}

@media (max-width:400px) {
  
  .simpleHeader-container {
    background-color: #0c2372;
    width: 100vw;
    height: 740px !important;
  }
}