.simpleHeader-container{
    background-color: #0c2372;
    
    width: 100vw;
    height: 950px;    
}

.simpleHeader-text{
    display: flex;
    position: relative;
    width: 950px;
    margin-left: auto !important;
    margin-right: auto !important;
    top: 233px;
    text-align: center;
}